{% extends "site_base.html" %}


{% block main-body %}
  <!-- project-3 -->
            <section class="projects-3">
                <div class="container">
                    <h3>We love what we do.
                    <br>
                    This is features of our products</h3>

                    <div class="projects">
                        <div class="project-wrapper">
                            <div class="project">
                                <div class="photo-wrapper">
                                    <div class="photo"><img src="/static/img/img-2.png" alt="">
                                    </div>
                                    <div class="overlay">
                                        <span class="fui-eye"> 张睿</span>
                                    </div>
                                </div>
                                <div class="info">
                                    <div class="name">
                                    </div>
                                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#">
                                      撰写博客
                                    </button>
                                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#delete">
                                      删除帐户
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="project-wrapper">
                            <div class="project">
                                <div class="photo-wrapper">
                                    <div class="photo"><img src="/static/img/img-3.png" alt="">
                                    </div>
                                    <div class="overlay">
                                        <span class="fui-eye"> </span>
                                    </div>
                                </div>
                                <div class="info">
                                    <div class="name">

                                    </div>
                                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#addAccount">
                                      添加子帐户
                                    </button>
                                </div>
                            </div>
                        </div>
        </div>
{% endblock %}