<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>Artcore - Blog Masonry</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        

        
        <link rel="stylesheet" href="/static/css/templatemo-misc.css">
        <link rel="stylesheet" href="/static/css/templatemo-style.css">
        <link rel="stylesheet" href="/static/common-files/css/icon-font.css">
        <link rel="stylesheet" href="/static/flat-ui/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="/static//flat-ui/css/flat-ui.css">
        <link rel="stylesheet" href="/static/css/bootstrap.css">
        <link rel="stylesheet" href="/static/css/font-awesome.css">
        <link rel="stylesheet" href="/static/css/animate.css">
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="/static/css/main.css">
        <script src="/static/js/vendor/modernizr-2.6.1-respond-1.1.0.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="#/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->
        <div id="search-overlay">
            <a href="#search-overlay" class="close-search"><i class="fa fa-times-circle"></i></a>
            <div class="search-form-holder">
                <h2>输入您要查找的内容并按回车</h2>
                <form id="search-form" action="#">
                    <input type="search" name="s" placeholder="" autocomplete="off" />
                 </form>
            </div>
        </div><!-- #search-overlay -->
        <div class="modal fade" id="addAccount" tabindex="-1" role="dialog" aria-labelledby="inviteLabel" aria-hidden="true">
          <div class="modal-dialog">
                <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="inviteLabel">注册子账户</h4>
                      </div>
                      <div class="modal-body">
                            <div class="form-group">
                                 <input class="form-control" type="text" placeholder="姓名">
                            </div>
                            <div class="form-group">
                                 <input type="password" class="form-control" placeholder="密码">
                            </div>
                            <div class="form-group"> 
                                 <input type="password" class="form-control" placeholder="确认">
                            </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary">注册</button>
                      </div>
                </div>
          </div>
        </div>
        <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="deleteLabel" aria-hidden="true">
          <div class="modal-dialog">
                <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="inviteLabel">删除帐户</h4>
                      </div>
                      <div class="modal-body">
                        是否删除？
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary">删除</button>
                      </div>
                </div>
          </div>
        </div>
        <div class="modal fade" id="change" tabindex="-1" role="dialog" aria-labelledby="deleteLabel" aria-hidden="true">
          <div class="modal-dialog">
                <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="inviteLabel">移交权限</h4>
                      </div>
                      <div class="modal-body">
                            <div class="form-group">
                                 <input class="form-control" type="text" placeholder="用户名">
                            </div>
                            <div class="form-group">
                                 <input type="password" class="form-control" placeholder="密码">
                            </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary">移交</button>
                      </div>
                </div>
          </div>
        </div>
        <div class="page-wrapper">
            <section id="pageloader">
                <div class="loader-item fa fa-spin colored-border"></div>
            </section> <!-- /#pageloader -->
            
            <header class="header-11">
                <div class="container">
                    <div class="row">
                        <div class="navbar col-sm-12" role="navigation">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle"></button>
                                <a class="brand" href="#"><img src="/static/img/logo@2x.png" width="100" height="50" alt=""></a>
                            </div>
                            <div class="collapse navbar-collapse pull-right">
                                <ul class="nav pull-left">
                                    <li><a href="/" >主页</a></li>
                                    <li><a href="/friends" >好友</a></li>
                                    <li><a href="blog.html" >日志</a></li>
                                    <li><a href="/account/" class="active">账户</a></li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user.username }} <b class="caret"></b></a>
                                        <span class="dropdown-arrow"></span>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">签到</a></li>
                                            <li><a href="/account/setting/">个人信息管理</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">注销</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header-background"></div>
            </header>

        <!-- project-3 -->
            <section class="projects-3">
                <div class="container">
                    
                    <div class="projects">
                        <div class="project-wrapper">
                            <div class="project">
                                <div class="photo-wrapper">
                                    <div class="photo"><img src="/static/img/img-2.png" alt="">
                                    </div>
                                    <div class="overlay">
                                        <span class="fui-eye"> 张睿</span>
                                    </div>
                                </div>
                                <div class="info">
                                    <div class="name">
                                    </div>
                                    <a href="chooseBlog.html">为该用户撰写博客</a>  
                                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#change">
                                      移交权限
                                    </button>
                                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#delete">
                                      删除帐户
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="project-wrapper">
                            <div class="project">
                                <div class="photo-wrapper">
                                    <div class="photo"><img src="/static/img/img-3.png" alt="">
                                    </div>
                                    <div class="overlay">
                                        <span class="fui-eye"> </span>
                                    </div>
                                </div>
                                <div class="info">
                                    <div class="name">
                                        
                                    </div>
                                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#addAccount">
                                      添加子帐户
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
            
            </div>

        <footer class="footer-2 bg-midnight-blue">
                <div class="container">
                    <nav class="pull-left">
                        <ul>
                            <li class="active">
                                <a href="aboutUs.html">关于我们</a>
                            </li>
                            
                        </ul>
                    </nav>
                    <div class="additional-links">
                        请阅读 <a href="aboutUs.html">使用说明</a> 以及 <a href="aboutUs.html">保密条款</a>
                    </div>
                </div>
            </footer>

        
        <script src="/static//common-files/js/jquery-1.10.2.min.js"></script>
        <script src="/static//flat-ui/js/bootstrap.min.js"></script>
        <script src="/static//common-files/js/modernizr.custom.js"></script>
        <script src="/static//common-files/js/startup-kit.js"></script>
        <script src="/static/js/vendor/jquery-1.11.0.min.js"></script>
        <script>window.jQuery || document.write('<script src="/static/js/vendor/jquery-1.11.0.min.js"><\/script>')</script>
        <script src="/static/js/plugins.js"></script>
        <script src="/static/js/main.js"></script>
        
        <!-- Preloader -->
        <script type="text/javascript">
            //<![CDATA[
            $(window).load(function() { // makes sure the whole site is loaded
                $('.loader-item').fadeOut(); // will first fade out the loading animation
                    $('#pageloader').delay(350).fadeOut('slow'); // will fade out the white DIV that covers the website.
                $('body').delay(350).css({'overflow-y':'visible'});
            })
            //]]>
        </script>
        
    </body>
</html>
