{% extends "base.html" %}

{% block story-active %} class="active"{% endblock %}

{% block main-body %}
        <!-- project-3 -->
            <section class="projects-3">
                <div class="container">

                    <div class="projects">
                        <div class="project-wrapper">
                            <div class="project">
                                <div class="photo-wrapper">
                                    <div class="photo"><img src="img/img-2.png" alt="">
                                    </div>
                                    <div class="overlay">
                                        <span class="fui-eye"> 成就</span>
                                    </div>
                                </div>
                                <div class="info">
                                    <a href="/story/write/achievement">个人成就</a>
                                </div>
                            </div>
                        </div>

                        <div class="project-wrapper">
                            <div class="project">
                                <div class="photo-wrapper">
                                    <div class="photo"><img src="img/img-3.png" alt="">
                                    </div>
                                    <div class="overlay">
                                        <span class="fui-eye"> 活动</span>
                                    </div>
                                </div>
                                <div class="info">
                                    <a href="activityMemory.html">活动经历</a> 
                                </div>
                            </div>
                        </div>

                        <div class="project-wrapper">
                            <div class="project">
                                <div class="photo-wrapper">
                                    <div class="photo"><img src="img/img-4.png" alt="">
                                    </div>
                                    <div class="overlay">
                                        <span class="fui-eye"> 成长</span>
                                    </div>
                                </div>
                                <div class="info">
                                    <a href="growth.html">成长记录</a> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="projects">
                        <div class="project-wrapper ani-processed" style="">
                            <div class="project">
                                <div class="photo-wrapper">
                                    <div class="photo" style="background-image: url(img/img-5.png);"><img alt="" src="img/img-5.png" style="display: none;">
                                    </div>
                                    <div class="overlay">
                                        <span class="fui-eye">旅行 </span>
                                    </div>
                                </div>
                                <div class="info">
                                    <a href="travel.html">旅行剪影</a> 
                                </div>
                            </div>
                        </div>

                        <div class="project-wrapper ani-processed" style="">
                            <div class="project">
                                <div class="photo-wrapper">
                                    <div class="photo" style="background-image: url(img/img-6.png);"><img alt="" src="img/img-6.png" style="display: none;">
                                    </div>
                                    <div class="overlay">
                                        <span class="fui-eye">感悟 </span>
                                    </div>
                                </div>
                                <div class="info">
                                    <a href="meaning.html">人生感悟</a> 
                                </div>
                            </div>
                        </div>

                        <div class="project-wrapper ani-processed" style="">
                            <div class="project">
                                <div class="photo-wrapper">
                                    <div class="photo" style="background-image: url(img/img-7.png);"><img alt="" src="img/img-7.png" style="display: none;">
                                    </div>
                                    <div class="overlay">
                                        <span class="fui-eye"> 随笔</span>
                                    </div>
                                </div>
                                <div class="info">
                                    <a href="note.html">随手写写</a> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.container-->
            </section>
{% endblock %}