{% extends "base.html" %}

{% block friends-active %} class="active"{% endblock %}

{% block main-body %}




        <!-- project-3 -->
            <section class="projects-3">
                <div class="container">

                    <div class="projects">
                        <div class="project-wrapper">
                            <div class="project">
                                <div class="photo-wrapper">
                                    <div class="photo"><img src="img/img-2.png" alt="">
                                    </div>
                                    <div class="overlay">
                                        <span class="fui-eye"> 张睿</span>
                                    </div>
                                </div>
                                <div class="info">
                                    <div class="name">
                                        deadGay
                                    </div>
                                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#invite">
                                      撰写邀请
                                    </button>
                                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#delete">
                                      删除好友
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="project-wrapper">
                            <div class="project">
                                <div class="photo-wrapper">
                                    <div class="photo"><img src="img/img-3.png" alt="">
                                    </div>
                                    <div class="overlay">
                                        <span class="fui-eye"> 邱尚昭</span>
                                    </div>
                                </div>
                                <div class="info">
                                    <div class="name">
                                        我是逗比
                                    </div>
                                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#invite">
                                      撰写邀请
                                    </button>
                                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#delete">
                                      删除好友
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="project-wrapper">
                            <div class="project">
                                <div class="photo-wrapper">
                                    <div class="photo"><img src="img/img-4.png" alt="">
                                    </div>
                                    <div class="overlay">
                                        <span class="fui-eye"> </span>
                                    </div>
                                </div>
                                <div class="info">
                                    <div class="name">
                                        阿三坎大哈速度
                                    </div>
                                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#invite">
                                      撰写邀请
                                    </button>
                                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#delete">
                                      删除好友
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="projects">
                        <div class="project-wrapper ani-processed" style="">
                            <div class="project">
                                <div class="photo-wrapper">
                                    <div class="photo" style="background-image: url(img/img-5.png);"><img alt="" src="img/img-5.png" style="display: none;">
                                    </div>
                                    <div class="overlay">
                                        <span class="fui-eye"> </span>
                                    </div>
                                </div>
                                <div class="info">
                                    <div class="name">
                                        Impressionist
                                    </div>
                                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#invite">
                                      撰写邀请
                                    </button>
                                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#delete">
                                      删除好友
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="project-wrapper ani-processed" style="">
                            <div class="project">
                                <div class="photo-wrapper">
                                    <div class="photo" style="background-image: url(img/img-6.png);"><img alt="" src="img/img-6.png" style="display: none;">
                                    </div>
                                    <div class="overlay">
                                        <span class="fui-eye"> </span>
                                    </div>
                                </div>
                                <div class="info">
                                    <div class="name">
                                        Pandora
                                    </div>
                                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#invite">
                                      撰写邀请
                                    </button>
                                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#delete">
                                      删除好友
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="project-wrapper ani-processed" style="">
                            <div class="project">
                                <div class="photo-wrapper">
                                    <div class="photo" style="background-image: url(img/img-7.png);"><img alt="" src="img/img-7.png" style="display: none;">
                                    </div>
                                    <div class="overlay">
                                        <span class="fui-eye"> </span>
                                    </div>
                                </div>
                                <div class="info">
                                    <div class="name">
                                        添加好友
                                    </div>
                                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#add">
                                      添加好友
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.container-->
            </section>


        </div>
        
{% endblock %}


{% block invisible-block %}
    <div class="modal fade" id="invite" tabindex="-1" role="dialog" aria-labelledby="inviteLabel" aria-hidden="true">
          <div class="modal-dialog">
                <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="inviteLabel">邀请</h4>
                      </div>
                      <div class="modal-body">
                            <div class="form-group">
                                 <input class="form-control" type="text" placeholder="时间">
                            </div>
                            <div class="form-group">
                                 <input class="form-control" type="text" placeholder="主题">
                            </div>
                            <div class="form-group">
                                 <input class="form-control" type="text" placeholder="留言">
                            </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary">发送</button>
                      </div>
                </div>
          </div>
        </div>
     <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="deleteLabel" aria-hidden="true">
          <div class="modal-dialog">
                <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="inviteLabel">删除好友</h4>
                      </div>
                      <div class="modal-body">
                        是否删除？
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary">删除</button>
                      </div>
                </div>
          </div>
        </div>
        <div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="deleteLabel" aria-hidden="true">
          <div class="modal-dialog">
                <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="inviteLabel">搜索好友</h4>
                      </div>
                      <div class="modal-body">
                            <div class="form-group">
                                 <input class="form-control" type="text" placeholder="好友姓名">
                            </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary">添加</button>
                      </div>
                </div>
          </div>
        </div>
{% endblock %}



     <script src="/static/common-files/js/jquery-1.10.2.min.js"></script>
        <script src="/static/flat-ui/js/bootstrap.min.js"></script>
        <script src="/static/common-files/js/modernizr.custom.js"></script>
        <script src="/static/common-files/js/startup-kit.js"></script>
        <script src="/static/js/vendor/jquery-1.11.0.min.js"></script>
        <script>window.jQuery || document.write('<script src="/static/js/vendor/jquery-1.11.0.min.js"><\/script>')</script>
        <script src="/static/js/plugins.js"></script>
        <script src="/static/js/main.js"></script>

        <!-- Preloader -->
        <script type="text/javascript">
            //<![CDATA[
            $(window).load(function() { // makes sure the whole site is loaded
                $('.loader-item').fadeOut(); // will first fade out the loading animation
                    $('#pageloader').delay(350).fadeOut('slow'); // will fade out the white DIV that covers the website.
                $('body').delay(350).css({'overflow-y':'visible'});
            })
            //]]>
        </script>




        <link rel="stylesheet" href="/static/css/bootstrap.css">
        <link rel="stylesheet" href="/static/css/font-awesome.css">
        <link rel="stylesheet" href="/static/css/animate.css">
        <link rel="stylesheet" href="/static/css/templatemo-misc.css">
        <link rel="stylesheet" href="/static/css/templatemo-style.css">
        <link rel="stylesheet" href="/static/common-files/css/icon-font.css">
        <link rel="stylesheet" href="/static/flat-ui/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="/static/flat-ui/css/flat-ui.css">
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="/static/css/main.css">
        <script src="/static/js/vendor/modernizr-2.6.1-respond-1.1.0.min.js"></script>