{% extends "base.html" %}

{% block home-active %} class="active"{% endblock %}

{% block main-body %}
        <div class="content-wrapper">
            <div class="inner-container container">
                <div class="row">
                    <div class="section-header col-md-12">
                        <a href="/story/write/">
                            <button type="button" class="btn btn-info">
                                撰写博客
                            </button>
                        </a>
                        
                    </div> <!-- /.section-header -->
                </div> <!-- /.row -->
                <div class="projects-holder-2 row">
                    <div class="filter-categories col-md-2 col-sm-3">
                        <ul class="project-filter">
                            <li class="filter" data-filter="all"><span>所有</span></li>
                            <li class="filter" data-filter="buildings"><span>个人成就</span></li>
                            <li class="filter" data-filter="design"><span>成长记录</span></li>
                            <li class="filter" data-filter="architecture"><span>旅行剪影</span></li>
                            <li class="filter" data-filter="nature"><span>活动经历</span></li>
                            <li class="filter" data-filter="nature"><span>人生感悟</span></li>
                            <li class="filter" data-filter="nature"><span>随笔</span></li>
                        </ul>
                    </div>
                    <div class="projects-holder col-md-10 col-sm-9">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 project-item mix design">
                                <div class="project-thumb">
                                    <img src="img/projects/project_1.jpg" alt="">
                                    <div class="overlay-b">
                                        <div class="overlay-inner">
                                            <a href="img/projects/project_1.jpg" class="fancybox fa fa-expand" title="Project Title Here"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-content project-detail">
                                    <h2><a href="blog-single.html">Lampyridae Lamps by Monica Correia</a></h2>
                                    <p><a href="blog-single.html">Artcore</a> is free HTML5 bootstrap Collect from <b class="blue">cssmoban</b><b class="green">.com</b>. Credit goes to <a rel="nofollow" href="#">Unsplash</a> for images.</p>
                                </div>
                            </div> <!-- /.project-item -->
                            <div class="col-md-6 col-sm-6 project-item mix nature">
                                <div class="project-thumb">
                                    <img src="img/projects/project_2.jpg" alt="">
                                    <div class="overlay-b">
                                        <div class="overlay-inner">
                                            <a href="img/projects/project_2.jpg" class="fancybox fa fa-expand" title="Project Title Here"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-content project-detail">
                                    <h2><a href="blog-single.html">Instant Domestic Enclosure</a></h2>
                                    <p>Nullam a vehicula tellus. Integer sodales ante eu feugiat. Sed fermentum diam dui, id faucibus quam vehicula at.</p>
                                </div>
                            </div> <!-- /.project-item -->
                            <div class="col-md-6 col-sm-6 project-item mix architecture">
                                <div class="project-thumb">
                                    <img src="img/projects/project_3.jpg" alt="">
                                    <div class="overlay-b">
                                        <div class="overlay-inner">
                                            <a href="img/projects/project_3.jpg" class="fancybox fa fa-expand" title="Project Title Here"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-content project-detail">
                                    <h2><a href="blog-single.html">Ganado & Associates offices</a></h2>
                                    <p>Nullam a vehicula tellus. Integer sodales ante eu feugiat. Sed fermentum diam dui, id faucibus quam vehicula at.</p>
                                </div>
                            </div> <!-- /.project-item -->
                            <div class="col-md-6 col-sm-6 project-item mix buildings">
                                <div class="project-thumb">
                                    <img src="img/projects/project_4.jpg" alt="">
                                    <div class="overlay-b">
                                        <div class="overlay-inner">
                                            <a href="img/projects/project_4.jpg" class="fancybox fa fa-expand" title="Project Title Here"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-content project-detail">
                                    <h2><a href="blog-single.html">St Barbara Bastion</a></h2>
                                    <p>Nullam a vehicula tellus. Integer sodales ante eu feugiat. Sed fermentum diam dui, id faucibus quam vehicula at.</p>
                                </div>
                            </div> <!-- /.project-item -->
                            <div class="col-md-6 col-sm-6 project-item mix design">
                                <div class="project-thumb">
                                    <img src="img/projects/project_5.jpg" alt="">
                                    <div class="overlay-b">
                                        <div class="overlay-inner">
                                            <a href="img/projects/project_5.jpg" class="fancybox fa fa-expand" title="Project Title Here"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-content project-detail">
                                    <h2><a href="blog-single.html">Drawing Out Collapse</a></h2>
                                    <p>Nullam a vehicula tellus. Integer sodales ante eu feugiat. Sed fermentum diam dui, id faucibus quam vehicula at.</p>
                                </div>
                            </div> <!-- /.project-item -->
                            <div class="col-md-6 col-sm-6 project-item mix buildings architecture">
                                <div class="project-thumb">
                                    <img src="img/projects/project_6.jpg" alt="">
                                    <div class="overlay-b">
                                        <div class="overlay-inner">
                                            <a href="img/projects/project_6.jpg" class="fancybox fa fa-expand" title="Project Title Here"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-content project-detail">
                                    <h2><a href="blog-single.html">St Ursula Street Apartment</a></h2>
                                    <p>Nullam a vehicula tellus. Integer sodales ante eu feugiat. Sed fermentum diam dui, id faucibus quam vehicula at.</p>
                                </div>
                            </div> <!-- /.project-item -->
                        </div>  <!-- /.row -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="pagination text-center">
                            <ul>
                                <li><a href="javascript:void(0)">1</a></li>
                                <li><a href="javascript:void(0)" class="active">2</a></li>
                                <li><a href="javascript:void(0)">3</a></li>
                                <li><a href="javascript:void(0)">4</a></li>
                                <li><a href="javascript:void(0)">...</a></li>
                                <li><a href="javascript:void(0)">11</a></li>
                            </ul>
                        </div> <!-- /.pagination -->
                    </div> <!-- /.col-md-12 -->
                </div> <!-- /.row -->
            </div> <!-- /.inner-content -->
        </div> <!-- /.content-wrapper -->
        </div>
{% endblock %}