<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>“我”</title>
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <link rel="shortcut icon" href="/static/flat-ui/images/favicon.ico">
        <link rel="stylesheet" href="/static/flat-ui/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="/static/flat-ui/css/flat-ui.css">
        <!-- Using only with Flat-UI (free)-->
        <link rel="stylesheet" href="/static/common-files/css/icon-font.css">
        <!-- end -->
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="/static/css/main.css">



        <link rel="stylesheet" href="/static/css/bootstrap.css">
        <link rel="stylesheet" href="/static/css/font-awesome.css">
        <link rel="stylesheet" href="/static/css/animate.css">
        <link rel="stylesheet" href="/static/css/templatemo-misc.css">
        <link rel="stylesheet" href="/static/css/templatemo-style.css">
        <link rel="stylesheet" href="/static/common-files/css/icon-font.css">
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="/static/css/main.css">
        <script src="/static/js/vendor/modernizr-2.6.1-respond-1.1.0.min.js"></script>

        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/css/flat-ui-pro.css" rel="stylesheet">
        <link href="/static/css/docs.css" rel="stylesheet">

        <link rel="stylesheet" href="/static/css/text.css">








    </head>

    <body>
        <div id="search-overlay">
            <a href="#search-overlay" class="close-search"><i class="fa fa-times-circle"></i></a>
            <div class="search-form-holder">
                <h2>输入您要查找的内容并按回车</h2>
                <form id="search-form" action="#">
                    <input type="search" name="s" placeholder="" autocomplete="off" />
                 </form>
            </div>
        </div><!-- #search-overlay -->

        <div class="page-wrapper">
            <!-- header-11 -->
            <header class="header-11">
                <div class="container">
                    <div class="row">
                        <div class="navbar col-sm-12" role="navigation">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle"></button>
                                <a class="brand" href="/"><img src="/static/img/logo@2x.png" width="100" height="50" alt=""></a>
                            </div>
                            <div class="collapse navbar-collapse pull-right">
                            {% if user.is_authenticated  %}

                                <ul class="nav pull-left">
                                    <li><a href="/" class="active">主页</a></li>
                                    <li><a href="/friends" >好友</a></li>
                                    <li><a href="/story/write/">故事</a></li>
                                    <li><a href="/account/sub_account/">账户</a></li>
                                    <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user.username }} <b class="caret"></b></a>
                                            <span class="dropdown-arrow"></span>
                                            <ul class="dropdown-menu">
                                                <li><a href="#">签到</a></li>
                                                <li><a href="/account/setting/">个人信息管理</a></li>
                                                <li class="divider"></li>
                                                <li><a href="/account/signout/">注销</a></li>
                                            </ul>
                                    </li>
                                </ul>
                            {% else  %}
                                <form class="navbar-form pull-left">
                                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">
                                      登录
                                    </button>
                                </form>
                            {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header-background"></div>
            </header>
        <div class="content-wrapper">
            <div class="inner-container container">
                <div class="row">
                    <div class="section-header col-md-12">
                        <a href="/story/write/">
                            <button type="button" class="btn btn-info">
                                撰写博客
                            </button>
                        </a>
                        
                    </div> <!-- /.section-header -->
                </div> <!-- /.row -->
                <div class="projects-holder-2 row">
                    <div class="filter-categories col-md-2 col-sm-3">
                        <ul class="project-filter">
                            <li class="filter" data-filter="all"><span>所有</span></li>
                            <li class="filter" data-filter="buildings"><span>个人成就</span></li>
                            <li class="filter" data-filter="design"><span>成长记录</span></li>
                            <li class="filter" data-filter="architecture"><span>旅行剪影</span></li>
                            <li class="filter" data-filter="nature"><span>活动经历</span></li>
                            <li class="filter" data-filter="nature"><span>人生感悟</span></li>
                            <li class="filter" data-filter="nature"><span>随笔</span></li>
                        </ul>
                    </div>

                    <div class="projects-holder col-md-10 col-sm-9">
                        <div class="row">

                            {% for story in stories %}
                            <div class="col-md-6 col-sm-6 project-item mix design mix_all" style="display: inline-block; opacity: 1;height:456px">
                                <div class="project-thumb">
                                    <img src="{{ story.image.url }}" alt="">
                                    <div class="overlay-b">
                                        <div class="overlay-inner">
                                            <a href="{{ story.image.url }}" class="fancybox fa fa-expand" title="{{ story.title }}"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-content project-detail">
                                    <h2><a href="/story/view/{{ story.id }}">{{ story.title }}</a></h2>
                                    <p>{{ story.content|slice:":50" }}...</p>
                                </div>
                            </div> <!-- /.project-item -->

                            {% endfor %}








{##}
{#                            <div class="col-md-6 col-sm-6 project-item mix design">#}
{#                                <div class="project-thumb">#}
{#                                    <img src="/static/img/projects/project_1.jpg" alt="">#}
{#                                    <div class="overlay-b">#}
{#                                        <div class="overlay-inner">#}
{#                                            <a href="/static/img/projects/project_1.jpg" class="fancybox fa fa-expand" title="Project Title Here"></a>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="box-content project-detail">#}
{#                                    <h2><a href="blog-single.html">Lampyridae Lamps by Monica Correia</a></h2>#}
{#                                    <p><a href="blog-single.html">Artcore</a> is free HTML5 bootstrap Collect from <b class="blue">cssmoban</b><b class="green">.com</b>. Credit goes to <a rel="nofollow" href="#">Unsplash</a> for images.</p>#}
{#                                </div>#}
{#                            </div> <!-- /.project-item -->#}
{#                            <div class="col-md-6 col-sm-6 project-item mix nature">#}
{#                                <div class="project-thumb">#}
{#                                    <img src="/static/img/projects/project_2.jpg" alt="">#}
{#                                    <div class="overlay-b">#}
{#                                        <div class="overlay-inner">#}
{#                                            <a href="/static/img/projects/project_2.jpg" class="fancybox fa fa-expand" title="Project Title Here"></a>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="box-content project-detail">#}
{#                                    <h2><a href="blog-single.html">Instant Domestic Enclosure</a></h2>#}
{#                                    <p>Nullam a vehicula tellus. Integer sodales ante eu feugiat. Sed fermentum diam dui, id faucibus quam vehicula at.</p>#}
{#                                </div>#}
{#                            </div> <!-- /.project-item -->#}
{#                            <div class="col-md-6 col-sm-6 project-item mix architecture">#}
{#                                <div class="project-thumb">#}
{#                                    <img src="/static/img/projects/project_3.jpg" alt="">#}
{#                                    <div class="overlay-b">#}
{#                                        <div class="overlay-inner">#}
{#                                            <a href="/static/img/projects/project_3.jpg" class="fancybox fa fa-expand" title="Project Title Here"></a>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="box-content project-detail">#}
{#                                    <h2><a href="blog-single.html">Ganado & Associates offices</a></h2>#}
{#                                    <p>Nullam a vehicula tellus. Integer sodales ante eu feugiat. Sed fermentum diam dui, id faucibus quam vehicula at.</p>#}
{#                                </div>#}
{#                            </div> <!-- /.project-item -->#}
{#                            <div class="col-md-6 col-sm-6 project-item mix buildings">#}
{#                                <div class="project-thumb">#}
{#                                    <img src="/static/img/projects/project_4.jpg" alt="">#}
{#                                    <div class="overlay-b">#}
{#                                        <div class="overlay-inner">#}
{#                                            <a href="/static/img/projects/project_4.jpg" class="fancybox fa fa-expand" title="Project Title Here"></a>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="box-content project-detail">#}
{#                                    <h2><a href="blog-single.html">St Barbara Bastion</a></h2>#}
{#                                    <p>Nullam a vehicula tellus. Integer sodales ante eu feugiat. Sed fermentum diam dui, id faucibus quam vehicula at.</p>#}
{#                                </div>#}
{#                            </div> <!-- /.project-item -->#}
{#                            <div class="col-md-6 col-sm-6 project-item mix design">#}
{#                                <div class="project-thumb">#}
{#                                    <img src="/static/img/projects/project_5.jpg" alt="">#}
{#                                    <div class="overlay-b">#}
{#                                        <div class="overlay-inner">#}
{#                                            <a href="/static/img/projects/project_5.jpg" class="fancybox fa fa-expand" title="Project Title Here"></a>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="box-content project-detail">#}
{#                                    <h2><a href="blog-single.html">Drawing Out Collapse</a></h2>#}
{#                                    <p>Nullam a vehicula tellus. Integer sodales ante eu feugiat. Sed fermentum diam dui, id faucibus quam vehicula at.</p>#}
{#                                </div>#}
{#                            </div> <!-- /.project-item -->#}
{#                            <div class="col-md-6 col-sm-6 project-item mix buildings architecture">#}
{#                                <div class="project-thumb">#}
{#                                    <img src="/static/img/projects/project_6.jpg" alt="">#}
{#                                    <div class="overlay-b">#}
{#                                        <div class="overlay-inner">#}
{#                                            <a href="/static/img/projects/project_6.jpg" class="fancybox fa fa-expand" title="Project Title Here"></a>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="box-content project-detail">#}
{#                                    <h2><a href="blog-single.html">St Ursula Street Apartment</a></h2>#}
{#                                    <p>Nullam a vehicula tellus. Integer sodales ante eu feugiat. Sed fermentum diam dui, id faucibus quam vehicula at.</p>#}
{#                                </div>#}
{#                            </div> <!-- /.project-item -->#}
                        </div>  <!-- /.row -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="pagination text-center">
                            <ul>
                                <li><a href="javascript:void(0)">1</a></li>
                                <li><a href="javascript:void(0)" class="active">2</a></li>
                                <li><a href="javascript:void(0)">3</a></li>
                                <li><a href="javascript:void(0)">4</a></li>
                                <li><a href="javascript:void(0)">...</a></li>
                                <li><a href="javascript:void(0)">11</a></li>
                            </ul>
                        </div> <!-- /.pagination -->
                    </div> <!-- /.col-md-12 -->
                </div> <!-- /.row -->
            </div> <!-- /.inner-content -->
        </div> <!-- /.content-wrapper -->
        </div>
            <!-- footer-2 -->
            <footer class="footer-2 bg-midnight-blue">
                <div class="container">
                    <nav class="pull-left">
                        <ul>
                            <li class="active">
                                <a href="aboutUs.html">关于我们</a>
                            </li>

                        </ul>
                    </nav>
                    <div class="additional-links">
                        请阅读 <a href="aboutUs.html">使用说明</a> 以及 <a href="aboutUs.html">保密条款</a>
                    </div>
                </div>
            </footer>

        </div>


        <!-- Placed at the end of the document so the pages load faster -->
        <script src="/static/common-files/js/jquery-1.10.2.min.js"></script>
        <script src="/static/flat-ui/js/bootstrap.min.js"></script>
        <script src="/static/common-files/js/modernizr.custom.js"></script>
        <script src="/static/common-files/js/startup-kit.js"></script>


        <script src="/static/js/vendor/jquery-1.11.0.min.js"></script>
        <script>window.jQuery || document.write('<script src="/static/js/vendor/jquery-1.11.0.min.js"><\/script>')</script>
        <script src="/static/js/plugins.js"></script>
        <script src="/static/js/main.js"></script>
        <script src="/static/js/script.js"></script>
        <script src="/static/js/index.js"></script>




        <!-- Preloader -->
        <script type="text/javascript">
            //<![CDATA[
            $(window).load(function() { // makes sure the whole site is loaded
                $('.loader-item').fadeOut(); // will first fade out the loading animation
                    $('#pageloader').delay(350).fadeOut('slow'); // will fade out the white DIV that covers the website.
                $('body').delay(350).css({'overflow-y':'visible'});
            })
            //]]>
        </script>









    </body>
</html>
