<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>个人中心</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="shortcut icon" href="/static/flat-ui/images/favicon.ico">
        <link rel="stylesheet" href="/static/flat-ui/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="/static/flat-ui/css/flat-ui.css">
        <!-- Using only with Flat-UI (free)-->
        <link rel="stylesheet" href="/static/common-files/css/icon-font.css">
        <!-- end -->
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="/static/css/main.css">

        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/css/flat-ui-pro.css" rel="stylesheet">
        <link href="/static/css/docs.css" rel="stylesheet">
    </head>
    <body>
      <header class="header-11">
                    <div class="container">
                        <div class="row">
                            <div class="navbar col-sm-12" role="navigation">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle"></button>
                                    <a class="brand" href="#"><img src="/static/img/logo@2x.png" width="100" height="50" alt=""></a>
                                </div>

                                <div class="collapse navbar-collapse pull-right">
                                     {% if user.is_authenticated  %}

                                <ul class="nav pull-left">
                                    <li><a href="/" >主页</a></li>
                                    <li><a href="/friends">好友</a></li>
                                    <li><a href="/story/write/" >故事</a></li>
                                    <li><a href="/account/sub_account/">账户</a></li>
                                    <li class="dropdown">
                                            <a href="#" class="dropdown-toggle active" data-toggle="dropdown">{{ user.username }} <b class="caret"></b></a>
                                            <span class="dropdown-arrow"></span>
                                            <ul class="dropdown-menu">
                                                <li><a href="#">签到</a></li>
                                                <li><a href="/account/setting/">个人信息管理</a></li>
                                                <li class="divider"></li>
                                                <li><a href="/account/signout/">注销</a></li>
                                            </ul>
                                    </li>
                                </ul>
                            {% else  %}
                                <form class="navbar-form pull-left">
                                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">
                                      登录
                                    </button>
                                </form>
                            {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="header-background"></div>
            </header>

        <div class="tabbable" >
            <ul class="nav nav-tabs nav-append-content">
              <li class="active"><a href="#tab4">个人信息</a></li>
              <li class=""><a href="#tab5">消息中心</a></li>
            </ul> <!-- /tabs -->
            <div class="tab-content">
              <div class="tab-pane active" id="tab4">
                <div class="form-group">
                  <div class="tab-content">
                    <p>好友申请</p>
                      <table class="table table-hover" style="width:100%">
                        <thead>
                          <tr>
                            <th>用户名</th>
                            <th>留言</th>
                            <th>时间</th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>

                        {% for request in friendship_requests %}
                            <tr>
                                <td>{{ request.from_user }}</td>
                                <td>{{ request.message }}</td>
                                <td>{{ request.created }}</td>
                                <td>
                                  <div class="demo-contnent">
                                    <a href="/account/setting/friends-accept/{{ request.id }}" id="async" class="btn btn-xs btn-primary mhm">同意</a>
                                    <a href="/account/setting/friends-reject/{{ request.id }}" id="async" class="btn btn-xs btn-primary mhm">拒绝</a>
                                  </div>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td>暂无好友申请</td>
                                <td></td>
                                <td></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                      </table>
                  </div>
                  <div class="tab-content"> 
                    <p>撰写邀请</p>
                      <table class="table table-hover" style="width:100%">
                        <thead>
                          <tr>
                            <th>用户名</th>
                            <th>主题</th>
                            <th>留言</th>
                            <th>时间</th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>


                        {% for noti in notifications %}
                            <tr>
                                <td>{{ noti.actor.username }}</td>
                                <td>{{ noti.verb }}</td>
                                <td>{{ noti.description }}</td>
                                <td>{{ noti.timestamp }}</td>
                                <td>
                                  <div class="demo-contnent">
                                    <a href="/account/setting/friends-accept/{{ request.id }}" id="async" class="btn btn-xs btn-primary mhm">同意</a>
                                    <a href="/account/setting/friends-reject/{{ request.id }}" id="async" class="btn btn-xs btn-primary mhm">拒绝</a>
                                  </div>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td>暂无好友申请</td>
                                <td></td>
                                <td></td>
                            </tr>
                        {% endfor %}




                          <tr>
                            <td>张睿</td>
                            <td>旅行</td>
                            <td>放学别走，寝室等我～</td>
                            <td>2014-12-27</td>
                            <td>
                              <div class="demo-contnent">
                                <a href="#" class="btn btn-xs btn-primary mhm">同意</a>
                                <a href="#" class="btn btn-xs btn-primary mhm">拒绝</a>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td>张睿</td>
                            <td>人生</td>
                            <td>放学别走，寝室等我～</td>
                            <td>2014-12-27</td>
                            <td>
                              <div class="demo-contnent">
                                <a href="#" class="btn btn-xs btn-primary mhm">同意</a>
                                <a href="#" class="btn btn-xs btn-primary mhm">拒绝</a>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td>张睿</td>
                            <td>理想</td>
                            <td>放学别走，寝室等我～</td>
                            <td>2014-12-27</td>
                            <td>
                              <div class="demo-contnent">
                                <a href="#" class="btn btn-xs btn-primary mhm">同意</a>
                                <a href="#" class="btn btn-xs btn-primary mhm">拒绝</a>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                  </div> 

                      
                </div>
              </div>

              <div class="tab-pane" id="tab5">
                <form action="/account/setting/change" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="demo-row">
                      <div class="demo-title">用户头像</div>
                      <div class="demo-content">
                          <div class="fileinput fileinput-new" data-provides="fileinput">
                          <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
                            <img data-src="holder.js/" alt="100%x100%" src="{{ user_image.url }}" data-holder-rendered="true" style="display: block;">
                          </div>
                          <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 12px;"></div>
                          <div>
                            <span class="btn btn-primary btn-embossed btn-file">
                              <span class="fileinput-new"><span class="fui-image"></span>&nbsp;&nbsp;选择头像</span>
                              <span class="fileinput-exists"><span class="fui-gear"></span>&nbsp;&nbsp;更换</span>
                              <input type="hidden"><input name="avatar" id="img-file" type="file" >
                            </span>
                            <a href="#" class="btn btn-primary btn-embossed fileinput-exists" data-dismiss="fileinput"><span class="fui-trash"></span>&nbsp;&nbsp;取消</a>
                          </div>
                          </div>
                      </div>
                    </div>
                    <div class="demo-row">
                        <div class="demo-title">用户名</div>
                        <div class="demo-content">
                            <input name="username" type="text" placeholder="{{ user.username }}" class="form-control input-hg">
                        </div>
                    </div>
                    <div class="demo-row">
                        <div class="demo-title">手机号码</div>
                        <div class="demo-content">
                            <input name="phone" type="text" value="" placeholder="{{ user.profile.phone }}" class="form-control input-hg">
                        </div>
                    </div>
                    <div class="demo-row">
                        <div class="demo-title">密码</div>
                        <div class="demo-content">
                            <input name="password" type="password" value="" placeholder="" class="form-control input-hg">
                        </div>
                    </div>
                    <div class="demo-row">
                        <div class="demo-title">邮箱</div>
                        <div class="demo-content">
                            {{ user.email }}
                        </div>
                    </div>
                    <center>
                    <button type="submit" class="btn btn-lg btn-block btn-success" style="width:50%">修改</button>
                </center>
                </form>

                
              </div>
            </div> <!-- /tab-content -->
        </div>

    <script src="/static/js/vendor/jquery.min.js"></script>
    <script src="/static/js/flat-ui-pro.js"></script>

    <script src="/static/js/prettify.js"></script>
    <script src="/static/js/application-docs.js"></script>

    <script>
      $(document).ready(function(){
        $('select[name="huge"]').select2({dropdownCssClass: 'select-inverse'});
      });


       $('#async').click(function (event)
        {
            event.preventDefault();

            var geturl = $(this).attr('href');
            $.ajax({
                  type: "GET",
                  url: geturl,
                  success: function(result) {
                    if(result['success'])
                    {
                        location.reload();
                    }

                    }
                  });

        });



    </script>
    </body>
</html>

